// Hubble Style

@import "basscss";

$gray: #555;
$blue: #0096cc;
$light-gray: #ccc;

body {
  color: $gray;
}
a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: lighten($blue, 10%);
  }
}

pre, samp, code, .mono {
  font-family: 'Source Code Pro', monospace;
}

.list {
  list-style: none;
  padding-left: 0;
}

.tappad {
  line-height: 3rem;
}

.border {
  border: 1px solid $light-gray;
  border-radius: .25rem;
}

