
<div ng-include src="'partials/_breadcrumb.html'"></div>


<h1 class="mb2">{{ user.name }}</h1>

<section id="repos" class="mb4">
  <!-- <h1>{{ user.public_repos }} repositories</h1> -->

  <ul class="list">
    <li ng-repeat="repo in repos" class="mb1">
      <a ng-href="{{ user.login }}/{{ repo.name }}">
        <h1>{{ repo.name }}</h1>
        <p>{{ repo.description }}</p>
      </a>
    </li>
  </ul>
</section>

<section id="about" class="mb4">
  <img ng-src="{{ user.avatar_url }}" alt="{{ user.login }}" />
  <h1>About {{ user.login }}</h1>
  <h2>{{ user.name }}</h2>
  <p>{{ user.location }}</p>
  <p>
    <a ng-href="{{ user.blog }}">{{ user.blog }}</a>
  </p>

  <p>
    <a ng-href="{{ user.login }}/followers">{{ user.followers }} followers</a>
    | 
    <a ng-href="{{ user.login }}/following">{{ user.following }} following</a>
  </p>
</section>
